

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Classification</title>
</head>

<style>

    
.photo_gallery{
            display:flex;
            gap:20px;
        }

        .container{
      
      max-width: 1224px;
      width:90%;
      margin:auto;
      padding: 40px 0;
      }

        .column{
            display: flex;
            flex-direction: column;
            gap:20px;
        }

        .photo img{
            width: 350px;
            height:250px;
        }

        .cont2{
            display: flex;
            gap: 150px;
        }

        
</style>


<body>

    <img style="width:100%;height: 300px;"
        src="https://img.freepik.com/free-photo/newspaper-background-concept_23-2149501597.jpg?t=st=1721895916~exp=1721899516~hmac=c57e3f855cff0575adcd0046e6d901f48811b1d55483ea7fd633aaf95511145e&w=900">

    <h1 style="text-align: center;">Fake News</h1>

    <p>In this modern world, People across the globe are connected to each other
    via news.Nowdays with the access of Internet and Networking, People can get the updates
    of any city,state,country,continent and so on.Now with the occurency of any event in 
    a particular time and location,Through news we can get instant updates.But the real
    challenge we face today is to determine whether the received news is true or not.
    We all are familiar with the phase <b>Fake News Travels Faster</b>. With the rapid
    spread of fake news in society,It can lead to severe consequences.It results in
    <b>Misinformed Public</b>which lead them to make decisions based on false information, affecting 
    everything from health to politics.Fake News can cause <b>Political Manipulation</b>
    which can sway elections, incite political unrest, and damage democratic institutions.
    There are <b>Economic Consequences</b> which caused by false financial news 
    which can cause stock market fluctuations and harm businesses.The great severe
    cansequences can seen in <b>Health Risks</b> which spreads 
    Misinformation about diseases, vaccines, and treatments can lead to harmful choices.
    There are also cases where fake news results in <b>Social Unrest & Violence</b>.
    Fake news can incite riots, communal violence, and mob lynchings.
    Apart from them,Fake News can also cause <b>Legal & Ethical Issues</b>which 
    results the Individuals and organizations to face defamation lawsuits 
    or legal consequences for spreading false information.But excluding
    all of these,There is one thing which is harmed to the great extent.
    That is the <b>Trust</b> of public in media,government and institutions.
    </p>

   
    <h2 style="text-align: center;">Effects Of Fake News</h2>

    <div class="container" style="position: absolute; top: 600px; left: 30px;">

        <div class="photo_gallery">
            
            <div class="column">
            
            <div class="photo">
            <img src="https://financial247.co.uk/wp-content/uploads/2021/08/1_cF57WKAdzfYrPyZ8buaYAw1.jpeg">
            </div>
            
            <div class="photo">
            <img src="https://www.demandsage.com/wp-content/uploads/2023/12/Economic-Losses-Caused-By-Fake-News-Worldwide.png">
            </div>
            
            <div class="photo">
            <img src="https://cdn.cnn.com/cnnnext/dam/assets/201023114528-20201023-trump-fake-news-super-169.jpg">
            </div>
            </div>
            
            
            <div class="column">
            <div class="photo">
            <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/7C38/production/_111700813_mediaitem111713480.jpg">
            </div>
            
            <div class="photo">
            <img src="https://wl-brightside.cf.tsp.li/resize/728x/jpg/2cc/c20/1223a75edd8edbdd42a433d1fc.jpg">
            </div>
            
            <div class="photo">
            <img src="https://images.thequint.com/thequint%2F2024-08-11%2Fazpmr2l5%2Fhero.png">
            </div>
    
        
            </div>
            
            <div class="column">
            <div class="photo">
            <img src="https://th.bing.com/th/id/OIP.vXWa0utahtLsfiYsDkM78gHaDt?rs=1&pid=ImgDetMain">
            </div>
            
            <div class="photo">
            <img src="https://healthydebate.ca/wp-content/uploads/2021/02/Fake-News_1340-x-720_Canva-e1613144930201.jpg">
            </div>
            
            <div class="photo">
            <img src="https://learnenglishteens.britishcouncil.org/sites/teens/files/field/image/rs7317_thinkstockphotos-638433522_adapted_with_rs6707_485526627.jpg">
            </div>
            
            </div>
            
         
    
        </div>

        <div class="cont2">
            <h2>What Should We Do Now</h2>

            <img style="width: 400px;height: 150px;"
            src="https://img.freepik.com/premium-photo/text-fake-news-is-written-gray-background-we-read-through-magnifying-glass_284815-4619.jpg?w=900">
        </div>

        <p>Now to resolve this, We are here to present our project.
            <b>Fake News Prediction System</b>.This project is under the domain of 
            <b>Machine Learning</b>&<b>Natural Language Processing.</b>
            Machine Learning is the field of Artificial Intelligence in Computer Science where
            models analyse the large amount of dataset.The knowledge acquired by the model during 
            analysis is later used for prediction of unknown data samples.Natural Language Processing
            is the subfield of linguistic (Scientific Study) and Artificial Intelligence.It enables
            machine to understand and interpret human language.
            </p>

    <h1 style="text-align: center;">Fake News Detection System</h1>

    <img style="width: 400px;height: 200px;position: relative;left: 300px;;"
    src="https://img.freepik.com/premium-photo/laptop-with-red-box-that-says-fake-man-it_1316799-26901.jpg?w=1060">

        
    

    <h1 style="text-align: center;">News Classification</h1>
    
    <div style="position: relative;left: 300px;">
    <form method="POST" action="/predict">
        <label for="news_text"><b >Enter News Text:</b></label><br>
        <textarea name="news_text" rows="5" cols="40">{{ Enter News for analysis otherwise write "" }}</textarea><br><br>
        <button type="submit" style="background-color: greenyellow;color:white;">
            Classify News</button>
    </form>


    {% if predictions %}
        <h2>Predictions:</h2>
        <ul>
            <li><strong>Logistic Regression:</strong> {{ predictions['Logistic Regression'] }}</li>
            <li><strong>Gradient Boosting:</strong> {{ predictions['Gradient Boosting'] }}</li>
            <li><strong>Random Forest:</strong> {{ predictions['Random Forest'] }}</li>
            <li><strong>Decision Tree:</strong> {{ predictions['Decision Tree'] }}</li>
        </ul>
    {% endif %}

</div>
</body>
</html>
